################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode/bin/Debug/net6.0
/AdventOfCode/obj
